

<table width="400px" border="0" align="right">
    <tr>
        <td align="right">

            {% if email %}
                <b>{{ email }}</b>
                <a href="/logout">Logout</a>&nbsp;|&nbsp;
                <a href="/get_token">Get Token</a>
            {% else %}
                <a href="/login">Login</a>&nbsp;|&nbsp;
                <a href="/register">Register</a>
            {% endif %}

            &nbsp;|&nbsp; <a href="/check">Check Token</a>
        </td>
    </tr>
</table>

