<!DOCTYPE html>
<html>
    <head>
        <style>
table.imagetable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.imagetable th {
	background:#b5cfd2 url('cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td {
	background:#dcddc0 url('cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
</style>
</head>
<body>

    {% include 'header.html' %}

<form method="post">
    <table class="imagetable" align="center">
    <tr>
        <th>Email</th>
        <td><input type="text" name="email"></td>
    </tr>
    <tr>
        <td colspan="2" align="center"><input type="submit" size="100" value="Login"></td>
    </tr>
</form>

</body>
</html>
