<!DOCTYPE html>
<html>
<head>
<style>
div.ex
{
margin-left:auto;
margin-right:auto;
background-color:#b0e0e6;
font-size: 100px;
width:320px;
padding:12px;
border:15px solid gray;
}
</style>
</head>
<body>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script>
    function get_code(){
        $.getJSON('/get_token_each_time', function(data) {
            $("#code").html(data['code'])
        });
        setTimeout(get_code, {{ wait_for_token }});
    }

    setTimeout(get_code, {{ wait_for_token }});
</script>
</head>
<body>
    {% include 'header.html' %}
    <div id="code" class="ex">{{ code }}</div>
</body>
</html>

